.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 150vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-2 {
  background-color: #282c34;
  min-height: 250vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.img {

  width: 550px;
  height: 350px;
  padding: 50px;
  align-items: center;

  /* width: 100%;
  height: 100% */
  /* clear: auto; */
}

.background {
  text-align: left;
  width: 600px;

}

.grid {
  display: grid;
  grid-template-columns: 50% 50%
}

.App-link {
  color: #61dafb;
}



.project {
  /* display: grid; */
  align-items: center;
}

.contact {
  margin: 100px
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.project-div {
  display: flex;
  justify-content: center;
  display: grid;

}

.list {
  display: inline;
  color: white;
}

/* .project-div {
  text-align: center;
  display: grid;

} */

nav {
  text-decoration: none;
  color: black;
  /* position: static; */
  font-size: 1.2em;
  background-color: gray;
  height: 80px;
  /* width: 100%; */
  /* margin-bottom: 0px; */
  text-align: center;
  padding: 10px
}

nav a,
nav h3 {
  text-decoration: none;
  color: black;
  margin: auto 1em;
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: 800;
  /* transition: all 0.2s ease; */
}